<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <link rel="stylesheet" href="../css/adminAddCourse.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Player Course</title>
    <!-- <link rel="stylesheet" href="../css/login.css"> -->
</head>

<body>
    <div class = 'navbar'>
        <div class = 'navbar2'>
            <a href="/admin" class = 'nav'>Home</a>
            <a href="/admin/teachers" class = 'nav'>List Teacher</a>
            <a href="/admin/courses" class = 'nav'>List Course</a>
        </div>

    </div>

    <div class='isi'>
        <h1>Admin Page</h1>

        <form action="/admin/addCourse" method="post">
            <h2>Add Course</h2>
                    <div class = 'errors'>
            <%if (errors !== undefined) {%>
                <%errors.forEach(el => {%>
                    <p><%=el%></p>
                <%})%>
            <%}%>
        </div>
            <label for='name'>Name</label>
            <br>
            <input type="text" id='name' class='isi2' name='name' placeholder="Type Course Name Here">
            <br>
            <label for='duration'>Duration</label>
            <br>
            <input type="number" id='duration' class='isi2' name='duration'>
            <br>
            <input type="submit" value="Add Post" class="submit">
        </form>
    </div>

</body>

</html>
</body>
</html>