<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="../css/listCourse.css">
</head>

<body>
    <div class = 'navbar'>
        <div class = 'navbar2'>
            <a href="/admin" class = 'nav'>Home</a>
            <a href="/admin/teachers" class = 'nav'>List Teacher</a>
            <a href="/admin/courses" class = 'nav'>List Course</a>
        </div>

    </div>
    <div class = 'isi'>
        <h1>Admin Page</h1>
        <table>
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Course Duration
                </th>
                <th>Action</th>
            </tr>
    
            <%data.forEach(el=> {%>
                <tr>
                    <td>
                        <%=el.name%>
                    </td>
                    <td>
                        <%=el.duration%>
                    </td>
                    <td>
                        <a href="/admin/course/<%=el.id%>/delete">
                            <button type="button" class = 'submit'>Delete Course</button>
                        </a>
                    </td>
                </tr>
                <%})%>
        </table>
    </div>


</body>

</html>