<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>

<body>
    <div class = 'navbar'>
        <h1>Admin Page</h1>
        <a href="/admin">Home</a>
        <a href="/admin/teachers">List Teacher</a>
        <a href="/admin/courses">List Course</a>
    </div>
    <div>
        <table>
            <tr>
                <th>
                    Course Name
                </th>
                <th>
                    Course Duration
                </th>
                <th>Action</th>
            </tr>
    
            <%data.forEach(el=> {%>
                <tr>
                    <td>
                        <%=el.name%>
                    </td>
                    <td>
                        <%=el.duration%>
                    </td>
                    <td>
                        <a href="/admin/course/<%=el.id%>/delete">
                            <button type="button">Delete Course</button>
                        </a>
                    </td>
                </tr>
                <%})%>
        </table>
    </div>


</body>

</html>