<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Player Course</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class='login'>
        <form action="/" method="post">
            <h1>Login Page</h1>
            <div class = 'errors'>
                <%if (errors !== undefined) {%>
                    <%errors.forEach(el => {%>
                        <p><%=el%></p>
                    <%})%>
                <%}%>
            </div>
            <label for='Username'>Username or Email</label>
            <br>
            <input type="text" id='username' class='isi' name='username' placeholder="Type your Username Here">
            <br>
            <label for='Password'>Password</label>
            <br>
            <input type="password" id='password' class='isi' name='password' placeholder="Type your Password Here">
            <br>
            <input type="submit" value="Login" class="submit">
        </form>
        <p>Doesn't have account yet?</p><a href='/register'>Register</a>
    </div>

</body>

</html>