<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solo Player Course</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class='login'>
        <form action="/register" method="post">
            <h1>Register</h1>

            <label for='name'>Name</label>
            <br>
            <input type="text" id='name' class='isi' name='name' placeholder="Type your Name Here">
            <br>
            <label for='username'>Username</label>
            <br>
            <input type="text" id='username' class='isi' name='username' placeholder="Type your userame Here">
            <br>
            <label for='email'>Email</label>
            <br>
            <input type="text" id='email' class='isi' name='email' placeholder="Type your Email Here">
            <br>
            <label for='Password'>Password</label>
            <br>
            <input type="password" id='password' class='isi' name='password' placeholder="Type your Password Here">
            <br>
            <input type="submit" value="Login" class="submit">
        </form>
    </div>

</body>

</html>