* {
    margin:0;
    padding:0;
}

body {
    background-color: skyblue;
}
.login {
    background-color: orangered;
    margin: auto;
    width: 25%;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 10em;
}

h1 {
    font-size: 50px;
    color: white
}

.navbar {
    width: 100%;
    display: flex;
    background-color: grey;
    padding: 10px;
}

.navbar2 {
    margin: auto 15px auto auto;
    display: flex;
}
.nav {
    background-color: orangered;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
    color:white;
}

.nav2 {
    padding: 3px 8px 3px 8px;
    border-radius: 10px;
    font-size: 20px;
    color:orangered;
}

.profil {
    background-color: orangered;
    padding: 8px 8px 8px 8px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 10px;
    color:white;
}

label {
    color:whitesmoke;
    font-size: 30px;
}


.isi {
    width: 80%;
}

table {
    width: 100%;
}

p {
    color:white
}

.submit {
    padding: 10px;
    font-size: 30px;
    width: 25%;
    color: black;
}

h2 {
    font-size: 40px;
    color:white;
    border: 5px solid black;
    width: 40%;
    margin-left: 29.8%;
    background-color: orangered;
    border-radius: 20px;
    padding: 5px;
}

.isi {
    width: 100%;
    margin: 5em auto auto auto;
    text-align: center;
}

.isi2 {
    margin: 10px auto auto auto;
    background-color: orangered;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    width: 50%;
    font-size: 20px;
    color: white;
}

th {
    text-decoration: underline;
}




